<%- include('../partials/header') %>

<header class="jumbotron">
  <div>
    <h1>This is the campgrounds page!</h1>
    <p>View our han-picked campgrounds from many places around the world</p>
    <p>
      <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add New Campground</a>
    </p>
    <p>
      <form action="/campgrounds" method="GET" class="form-inline">
        <div class="form-group">
          <input type="text" name="search" placeholder="Campground Search..." class="form-control" required>
          <button type="submit" value="Search" class="btn btn-default">Search</button>
        </div>
      </form>
    </p>
  </div>
</header>

<div class="row text-center sibling-fade" style="display: flex; flex-wrap: wrap;">
  <% campgrounds.forEach((campground) =>{ %>
  <div id="divImage" class="col-md-3 col-sm-6 col-xs-6">
    <div class="thumbnail">
      <a href="/campgrounds/<%= campground._id %>">
        <img src="<%= campground.image %>">
      </a>
      <div class="caption">
        <h4><%= campground.name %></h4>
      </div>
      <div class="caption">
        <p><%= campground.description.substring(0,100) %>...</p>
      </div>
    </div>
    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">See more</a>
  </div>
  <% }); %>
</div>
<%- include('../partials/footer') %>